@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.b {
  border: 2px solid red;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #014E56;
  padding-top: 48px;
}

.header > .container {
  width: 375px;
  height: 520px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 327px;
  height: 32px;
  margin-right: 24px;
  margin-left: 24px;
}

.header__nav_lists {
  display: none;
}

.header__nav_link {
  display: none;
}

.header__nav_des {
  width: 327px;
  height: 252px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.header__nav_des_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #fff;
  margin-top: 35px;
  margin-right: 24px;
  margin-left: 24px;
}

.header__nav_des_paragraph {
  font-weight: 600;
  font-size: 15px;
  line-height: 187%;
  color: #fff;
  margin-top: 16px;
  margin-right: 24px;
  margin-left: 24px;
}

.header__img {
  margin-bottom: 0px;
  margin-left: 275px;
  overflow: hidden;
  margin-top: 100px;
}

@media screen and (min-width: 768px) {
  .header > .container {
    width: 768px;
    height: 556px;
  }
  .header__nav {
    width: 689px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .header__nav_menu_btn {
    display: none;
  }
  .header__nav_lists {
    width: 140px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .header__nav_lists_li {
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #fff;
  }
  .header__nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 153px;
    height: 48px;
    border: 3px solid #fff;
    border-radius: 30px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav_link_a {
    margin-right: auto;
    margin-left: auto;
    color: #fff;
  }
  .header__nav_des {
    width: 683px;
    height: 220px;
    margin-top: 112px;
    margin-right: auto;
    margin-left: auto;
  }
  .header__nav_des_title {
    font-weight: 700;
    font-size: 64px;
    line-height: 87%;
    text-align: center;
    color: #fff;
    width: 683px;
    height: 56px;
  }
  .header__nav_des_paragraph {
    font-weight: 600;
    font-size: 15px;
    line-height: 187%;
    text-align: center;
    color: #fff;
    margin-top: 24px;
    margin-right: 110px;
    margin-left: 110px;
  }
  .header__img {
    margin-left: 88%;
  }
}
.about {
  background-color: #004047;
}

.about > .container {
  width: 375px;
  height: 2062px;
}

.about__img {
  width: 200px;
}

.about__title {
  width: 327px;
  height: 32px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.about__cards {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 48px;
  margin-right: 24px;
  margin-left: 24px;
}

.about__cards_items {
  background-color: #012F34;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 32px;
  width: 327px;
  height: 281px;
}

.about__cards_items_item {
  width: 279px;
  height: 165px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
}

.about__cards_items_item_img {
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
}

.about__cards_items_item_name {
  width: 279px;
  height: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #79c8c7;
}

.about__cards_items_item_job {
  width: 279px;
  height: 25px;
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
}

.about__cards_items_img {
  width: 56px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 28px;
  overflow: hidden;
}

.about__last_img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
  width: 147px;
  height: 100px;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .about > .container {
    width: 768px;
    height: auto;
  }
  .about__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    width: 445px;
    height: auto;
    margin: 0 auto 48px;
  }
  .about__cards {
    width: 580px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
    overflow: hidden;
  }
  .about__cards_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 281px;
    height: 281px;
  }
  .about__cards_items_item {
    text-align: center;
  }
  .about__cards_items_img {
    margin-top: 10px;
  }
}
.sponsors {
  background-color: #012F34;
}

.sponsors > .container {
  width: 375px;
  height: 632px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 88px;
  text-align: center;
}

.sponsors__intro {
  margin-right: auto;
  margin-left: auto;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 327px;
  height: 394px;
}

.sponsors__intro_title {
  width: 327px;
  height: 32px;
  margin-bottom: 64px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

.sponsors__intro_title_subtitles_list_title {
  width: 146px;
  height: 24px;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 81px;
}

.sponsors__intro_title_subtitles {
  display: block;
  margin-bottom: 64px;
}

.sponsors__intro_title_subtitles_list {
  display: block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.sponsors__li {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .sponsors > .container {
    width: 768px;
    height: 308px;
    margin-right: auto;
    margin-left: auto;
  }
  .sponsors__intro {
    width: 689px;
    height: 108px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .sponsors__intro_title {
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .sponsors__intro_title_subtitles_list_title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 30px;
  }
  .sponsors__intro_title_subtitles_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.contact {
  background-color: #F67E7E;
}

.contact > .container {
  width: 375px;
  height: 302px;
  padding-top: 83px;
}

.contact > .contact__intro {
  width: 327px;
  height: 136px;
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.contact__intro_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  margin-right: 24px;
  margin-left: 24px;
  text-align: center;
  color: #012f34;
  margin-bottom: 24px;
  width: 327px;
  height: 68px;
}

.contact__intro_link {
  width: 153px;
  height: 48px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 10px;
  border-radius: 30px;
  border: 1px solid #000;
  color: #000;
}/*# sourceMappingURL=main.css.map */