@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

.header {
    margin-right: auto;
    margin-left: auto;
    width: 1487px;
    height: 719px;
}

.b {
    border: 2px solid red;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__link {
    display: flex;
    gap: 30px;
}

.header__logo {
    width: 164px;
    height: 61px;
}

.b {
    border: 2px solid red;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
}

.header__content_bgimg {
    width: 132px;
    height: 115px;
    max-width: 100%;
    margin-top: 100px;
}

.header__content_img {
    width: 693px;
    height: 598px;
}

.header__content_title_paragraph {
    font-weight: 700;
    font-size: 48px;
    width: 450px;
    height: 112px;
    line-height: 117%;
    color: #000;
    margin-bottom: 10px;
}

.header__content_title_paragraph_des {
    font-weight: 300;
    font-size: 21px;
    width: 446px;
    height: 96px;
    line-height: 152%;
    color: #7d7987;
}

.header__content_title {
    width: 490px;
    height: 233px;
}

.header__content_link {
    margin-top: 19px;
    padding-top: 19px;
    text-align: center;
    width: 200px;
    height: 56px;
    border-radius: 40px;
    border: 1px solid rgb(64, 64, 237);

}

.app_button {
    color: #458FF6;
}

.hero {
    width: 1675px;
    height: 1002px;
    margin-right: auto;
    margin-left: auto;
}

.hero {
    margin-top: 30px;
}

.hero__intro_content {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 1120px;
    height: 745px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.hero__intro_content_card {
    display: block;
    width: 350px;
    height: 354px;
    gap: 34px;
    border-radius: 10px;
}

.hero__intro_content_card_info {
    margin-top: 10px;
    width: 195px;
    height: 96px;
}


.hero__intro_content_card_info_title {
    width: 195px;
    height: 56px;
}

.hero__intro_content_card_info_des {
    width: 261px;
    height: 84px;

}

.hero__intro_content_card_start {
    width: 262;
    height: 260px;
    margin-right: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.hero__intro {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 952px;
    height: 177px;
    max-width: 100%;
}

.hero__intro_start {
    width: 212px;
    height: 56px;
    margin-top: 3px;
    padding-top: 10px;
}


.hero__intro_dash {
    border-radius: 5px;
    width: 56px;
    height: 2px;
    margin-top: 10px;
    background-color: #458FF6;
}

.hero__intro_des {
    font-weight: 300;
    font-size: 18px;
    margin-top: 30px;
    line-height: 167%;
    text-align: center;
    color: #7d7987;
}

.hero__intro_start,
.hero__intro_dash,
.hero__intro_des {
    margin-left: auto;
    margin-right: auto;
}

.header__intro_link {
    padding-top: 19px;
    text-align: center;
    width: 200px;
    height: 56px;
    border-radius: 40px;
    border: 1px solid rgb(64, 64, 237);
    margin-right: auto;
    margin-left: auto;
}

.lead{
    width: 1208px;
    height: 477px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}


.lead__intro_img {
    width: 655px;
    height: 477px;
    max-width: 100%;
}

.lead__intro {
    display: flex;
}

.lead__intro_start {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 422px;
    height: 387px;
    margin-top: 45px;
}

.lead__intro_start_paragraph {
    font-weight: 700;
    font-size: 36px;
    line-height: 156%;
    color: #000;
    width: 396px;
    height: 112px;
}


.lead__intro_start_dash {
    border-radius: 5px;
    width: 56px;
    height: 2px;
    margin-top: 30px;
    background-color: #458FF6;
}



.lead__intro_start_des {
    font-weight: 300;
    font-size: 18px;
    line-height: 167%;
    color: #7d7987;
    width: 416px;
    height: 120px;
    margin-top: 40px;
}

.lead__intro_start_link {
    width: 200px;
    height: 56px;
    padding-top: 15px;
    text-align: center;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 60px;
    border: 1px solid rgb(64, 64, 237);
}

