.Customers {
    width: 1680px;
    height: 470px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.Customers__title {
    width: 730px;
    height: 58px;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #242d52;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 59px;
}

.Customers__intro {
    width: 1110px;
    height: 256px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer__link{
    margin-top: 53px;
    margin-right: auto;
    margin-left: auto;
}