*{
  list-style: none;
  text-decoration: none;
}

.ollist{
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
}

.list{
  display: flex;
  margin: 10px;
  gap: 30px;
  width: 300px;
  height: 30px;
}