.header {
    background-color: #F2F2F2;
}

.header__nav {
    margin-right: 165px;
    margin-left: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    height: 44px;
    margin-top: 56px;
    margin-bottom: 169px;
}

.header__nav_logo {
    width: 147px;
    height: 24px;
}

.header__nav_list {
    width: 398px;
    height: 19px;
}

.header__nav_list_li {
    display: flex;
    gap: 20px;

}

.header__nav_list_li>li>a {
    font-weight: 500;
    font-size: 13px;
    color: #242d52;
}

.header__nav_link {
    width: 137px;
    height: 44px;
    text-align: center;
    padding-top: 10px;
    background-color: #F3603C;
    border-radius: 30px;
}

.header__nav_link_a {
    font-weight: 700;
    font-size: 13px;
    color: #fcf6f5;
}

.header__intro {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}

.header__intro_infos {
    width: 490px;
    height: 388px;
    margin-right: 125px;
    margin-left: 165px;
    display: block;
}

.header__intro_infos_title {
    font-weight: 700;
    font-size: 56px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: #242d52;
    width: 485px;
    height: 210px;
}

.header__intro_infos_p {
    width: 290px;
    height: 98px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #242d52;
    margin-bottom: 30px;
}

.header__intro_img {
    width: 540px;
    height: 485px;
    margin-right: 365px;
}