.about__list {
    width: 540px;
    height: 152px;
    display: flex;
    justify-content: space-between;
}

.about__list_first_item {
    border-radius: 20px;
    width: 77px;
    height:20px;
    background: #f3603c;
    text-align: center;
    margin-right: 28px;
}

.about__list_items>h3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #242d52;
    margin-bottom: 23px;
}

.about__list_items>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #242d52;
}