.header {
    width: 1440px;
    height: 416px;
    margin-right: auto;
    margin-left: auto;
    padding: 153px;
    background-image: url("C:\\Users\\Asus Vivobook\\Desktop\\HTML_CSS\\src\\assets\\header_img.svg");
}


.header__content_infos {
    margin-right: 53px;
    margin-left: 739px;
    border-radius: 10px;
    width: 643px;
    height: 443px;
    display: block;

}

.header__content_infos_text>p {
    width: 123px;
    height: 24px;
    margin-top: 52px;
    margin-left: 41px;
    margin-right: 479px;
    text-align: center;
}

.header__content_infos_title {
    font-weight: 700;
    font-size: 52px;
    line-height: 125%;
}

.header__content_infos_paragraph {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #333;
}

.header__content_infos_button>button {
    padding: 25px 72px;
    width: 222px;
    height: 74px;
    background-color: #B88E2F;
    color: #fff;
}