.footer {
    width: 1440px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    background: #1d1e25;
}

.footer__intro {
    padding-top: 62px;
    width: 1104px;
    height: 127px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__intro_logo {
    width: 147px;
    height: 24px;
    margin-bottom: 83px;
}

.footer__intro_icons {
    width: 154px;
    height: 20px;
}

.footer__intro_lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__intro_lists_part_one {
    margin-right: 200px;
}

.footer__intro_lists_li>li {
    margin-bottom: 13px;
}



.footer__intro_lists_li>li>a {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.02em;
    color: #fff;
}

.footer__intro_last_part {
    display: block;
}

.footer__last {
    width: 272px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer__intro_last_part_input>input {
    width: 200px;
    height: 44px;
    border-radius: 30px;
    text-align: center;
}


.footer__intro_last_part_p {
    opacity: 0.5;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.02em;
    text-align: right;
    color: #fff;
}

.footer__intro_last_part_link {
    width: 64px;
    height: 44px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F3603C;
    text-align: center; 
    padding-top: 10px;  
    border-radius: 30px;
}

.footer__intro_last_part_link>a{
    color: #fff;
}