.hero {
    width: 1183px;
    height: 685px;
    margin-right: auto;
    margin-left: auto;
}

.hero__intro {
    width: 559px;
    height: 96px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    position: inherit;
}

.hero__intro__title {
    font-weight: 700;
    font-size: 32px;
    width: 400px;
    height: 48px;
    color: #333;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.hero__intro__title>h3{
    padding: 0;
    margin: 0;
}

.hero__intro__paragraph {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #666;
}


.hero__card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}