.footer{
    margin-right: auto;
    margin-left: auto;
    width: 1236px;
    height: 1084px;
    margin-top: 56px;
}

.footer__title{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.footer__cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
}