.contact {
    background-color: #F67E7E;
}


.contact>.container {
    width: 375px;
    height: 302px;
    padding-top: 83px;
}

.contact>.contact__intro {
    width: 327px;
    height: 136px;
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.contact__intro_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    margin-right: 24px;
    margin-left: 24px;
    text-align: center;
    color: #012f34;
    margin-bottom: 24px;
    width: 327px;
    height: 68px;

}


.contact__intro_link {
    width: 153px;
    height: 48px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 10px;
    border-radius: 30px;
    border: 1px solid #000;
    color: #000;
}

// .contact__img {
//     width: 200px;
//     height: 125px;
// }


@media screen and (min-width:768px) {
    .contact>.container {
        width: 768px;
        height: 308px;
    }

    .contact__intro {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contact__intro_title {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        color: #012f34;
        width: 500px;
        height: 50px;
        margin-left: 100px;
        text-align: center;
        margin-top: 25px;
        padding-top: 5px;
        margin-right: 100px;
        align-items: center;
    }

    .contact__intro_link {
        width: 153px;
        height: 48px;
        margin-right: 100px;
    }
}




@media screen and (min-width:1440px) {
    .contact>.container {
        width: 1440px;
        height: 200px;
    }

    .contact__intro{
        margin-right: auto;
        margin-left: auto;
    }
}