.header {
    background-color: #014E56;
    padding-top: 48px;
}

.header>.container {
    width: 375px;
    height: 520px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 327px;
    height: 32px;
    margin-right: 24px;
    margin-left: 24px;
}

.header__nav_lists {
    display: none;
}

.header__nav_link {
    display: none;
}

.header__nav_des {
    width: 327px;
    height: 252px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.header__nav_des_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #fff;
    margin-top: 35px;
    margin-right: 24px;
    margin-left: 24px;
}

.header__nav_des_paragraph {
    font-weight: 600;
    font-size: 15px;
    line-height: 187%;
    color: #fff;
    margin-top: 16px;
    margin-right: 24px;
    margin-left: 24px;
}

.header__img {
    margin-bottom: 0px;
    margin-left: 275px;
    overflow: hidden;
    margin-top: 100px;
}

@media screen and (min-width:768px) {
    .header>.container {
        width: 768px;
        height: 556px;
    }

    .header__nav {
        width: 689px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .header__nav_menu_btn {
        display: none;
    }

    .header__nav_lists {
        width: 140px;
        height: 28px;
        display: flex;
    }

    .header__li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .header__nav_lists_li {
        font-weight: 600;
        font-size: 18px;
        line-height: 156%;
        color: #fff;
    }

    .header__nav_link {
        display: flex;
        width: 153px;
        height: 48px;
        border: 3px solid #fff;
        border-radius: 30px;
        text-align: center;
        align-items: center;
    }

    .header__nav_link_a {
        margin-right: auto;
        margin-left: auto;
        color: #fff;

    }

    .header__nav_des {
        width: 683px;
        height: 220px;
        margin-top: 112px;
        margin-right: auto;
        margin-left: auto;
    }

    .header__nav_des_title {
        font-weight: 700;
        font-size: 64px;
        line-height: 87%;
        text-align: center;
        color: #fff;
        width: 683px;
        height: 56px;
    }

    .header__nav_des_paragraph {
        font-weight: 600;
        font-size: 15px;
        line-height: 187%;
        text-align: center;
        color: #fff;
        margin-top: 24px;
        margin-right: 110px;
        margin-left: 110px;
    }

    .header__img {
        margin-left: 88%;
    }
}


@media screen and (min-width:1440px) {
    .header>.container {
        width: 1440px;
        height: 517px;
    }

    .header__nav {
        width: 1110px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }




    .header__nav_lists {
        width: 140px;
        height: 28px;
        display: flex;
    }

    .header__li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .header__nav_lists_li {
        font-weight: 600;
        font-size: 18px;
        line-height: 156%;
        color: #fff;
    }

    .header__nav_link {
        display: flex;
        width: 153px;
        height: 48px;
        border: 3px solid #fff;
        border-radius: 30px;
        text-align: center;
        align-items: center;
    }

    .header__nav_link_a {
        margin-right: auto;
        margin-left: auto;
        color: #fff;

    }

    .header__nav_des {
        width: 1110px;
        height: 156px;
        margin-top: 112px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
    }

    .header__nav_des_title {
        font-weight: 700;
        font-size: 64px;
        line-height: 156%;
        color: #fff;
        width: 683px;
        height: 56px;
    }

    .header__nav_des_paragraph {
        font-weight: 600;
        font-size: 18px;
        line-height: 156%;
        color: #fff;
        margin-top:0;
        margin-right: 0;
        margin-left: 110px;
        width: 1030px;
        height: 156px;
        padding-top: 15px;
    }

    .header__img {
        margin-left: 88%;
    }


    .header__nav_menu_btn {
        display: none;
    }
}