.intro {
    width: 375px;
    height: 1410px;
    background: #004047;
    margin-right: auto;
    margin-left: auto;
    position: inherit;
}

.intro__img {
    width: 147px;
    height: 100px;
    transform: rotate(-180deg);
}

.intro__main {
    width: 327px;
    height: 1106px;
    margin-right: auto;
    margin-left: auto;
}

.intro__main_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    width: 327px;
    height: 168px;
    margin-top: 25px;
}

.intro__main_title_word {
    color: #79c8c7;
}


.intro__main_card {
    margin-top: 48px;
    width: 327px;
    height: 930px;
    margin-right: auto;
    margin-left: auto;
}

.intro__main_card_items {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    margin-bottom: 48px;
}

.intro__main_card_des {
    font-weight: 600;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
}

.intro__main_card_infos {
    width: 327px;
    height: 126px;
    margin-right: auto;
    margin-left: auto;
}

.intro__main_card_infos_name {
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #79c8c7;
    margin-bottom: 2px;
}

.intro__main_card_infos_job {
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
}

.intro_last_img {
    width: 200px;
    height: 120px;
    text-align: end;
    position: absolute;
    margin-left: 175px;
    margin-top:75px;
}